<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Indeks</title>
</head>
<body>
<form action="#" th:action="@{/users/edit/{id}(id=${user.userId})}" th:object="${user}"
      method="post">
    <fieldset>
        <input type="submit" trainId="submitButton" th:value="Save">
        <table>
            <thead>
            <tr>
                <th> Name</th>
<!--                <th> Type</th>-->
            </tr>
            </thead>
            <tbody>
            <tr >
                <td><input th:field="*{name}" /></td>
                <!--                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" role="alert" />-->
                <td><li th:each="err : ${#fields.errors('*')}" th:text="${err}" /></td>
<!--                <td><input th:field="*{type}" /></td>-->
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>