<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<head th:replace="Base/head :: head">
    <meta charset="UTF-8">
    <title>Indeks</title>
</head>
<body>
<header th:replace="Base/navbar :: nav"></header>
<form action="#" th:action="@{/trains/edit/{id}/{type}(id=${train.trainId},type=${trainType.type})}" th:object="${train}"
      method="post">
    <fieldset>
        <input type="submit" trainId="submitButton" th:value="Save">
        <table>
            <thead>
            <tr>
                <th> Name</th>
                <th> Firm</th>
                <th> Number of seats</th>
                <th th:if="${train instanceof T(pl.pas.pas.model.Trains.ExpressTrain)}">Carriage</th>

            </tr>
            </thead>
            <tbody>
            <tr >
                <td><input th:field="*{name}" /></td>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                <td>
                    <select  th:field="${train.firm.name}">
                        <option th:each="firm : ${firms}" th:value="${firm.name}"  th:text="${firm.name}"></option>
                    </select>
                </td>
                <td><input th:field="*{seats}" pattern="[0-9]*" title="There must be number"/></td>
                <td th:if="${train instanceof T(pl.pas.pas.model.Trains.ExpressTrain)}">
                    <input th:field="*{carriage}" pattern="[0-9]*" title="There must be number"/>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>