<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Indeks</title>
</head>
<body>
<form action="#" th:action="@{/tickets/add}" th:object="${ticket}"
      method="post">
    <fieldset>
        <input type="submit" trainId="submitButton" th:value="Save">
        <table>
            <thead>
            <tr>
                <th> Pociag</th>
                <th> User</th>
                <th> Start</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                <td>
                    <select   th:field="${train.trainId}">
                    <option th:each="train : ${trains}" th:value="${train.trainId}"  th:text="${train.name}" ></option>
                </select>
                </td>
                <!--                <td><input th:field="${train.firm.name}" /></td>-->
                <td>
                    <select  th:field="${user.userId}">
                        <option th:each="user : ${users}" th:value="${user.userId}"  th:text="${user.name}" ></option>
                    </select>
                </td>

                <td><input type="date" th:field="*{startingDate}"/> </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>