<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="Base/head :: head">
<body>
<header th:replace="Base/navbar :: nav"></header>
<H1 >Witaj świrze</H1>

<form sec:authorize="hasRole('ROLE_Client')" th:action="@{/tickets/add}" method="get">
    <input type="submit" value="Allocate Train" />
</form>
<!--<form  sec:authorize="isAnonymous()" th:action="@{/users/registration}" method="get">-->
<!--<input type="submit" value="Registartion" />-->
<!--</form>-->

</body>
</html>